.bar * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
.bar a {
    font-size: 15px;
    color: #0894ec;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bar a:active {
    color: #0a8ddf;
}

.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 2.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #f7f7f8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bar:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bar:after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .bar:after {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.bar-header-secondary {
    top: 0;
}
.bar-footer {
    bottom: 0;
}
.bar-footer-secondary {
    bottom: 2.2rem;
}
.bar-footer-secondary-tab {
    bottom: 2.5rem;
}
.bar-footer:before,
.bar-footer-secondary:before,
.bar-footer-secondary-tab:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bar-footer:before,
    .bar-footer-secondary:before,
    .bar-footer-secondary-tab:before {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .bar-footer:before,
    .bar-footer-secondary:before,
    .bar-footer-secondary-tab:before {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}
.bar-footer:after,
.bar-footer-secondary:after,
.bar-footer-secondary-tab:after {
    display: none;
}
.bar-nav {
    top: 0;
}

/* === Search Bar === */
.searchbar {
    padding: 8px 0;
    overflow: hidden;
    height: 2.2rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.searchbar .searchbar-cancel {
    margin-right: -3rem;
    width: 2.2rem;
    float: right;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.searchbar .search-input {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-right: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.searchbar .search-input input {
    margin: 0;
    height: 1.4rem;
    font-size: 15px;
}
.searchbar.searchbar-active .searchbar-cancel {
    margin-right: 0;
    opacity: 1;
}
.searchbar.searchbar-active .searchbar-cancel + .search-input {
    margin-right: 2.5rem;
}
.search-input {
    position: relative;
}
.search-input input {
    box-sizing: border-box;
    width: 100%;
    height: 1.4rem;
    display: block;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    font-family: inherit;
    color: #3d4145;
    font-size: 0.7rem;
    font-weight: normal;
    padding: 0 0.5rem;
    background-color: #fff;
    border: 1px solid #b4b4b4;
}
.search-input input::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 1;
}
.search-input .icon {
    position: absolute;
    font-size: 0.9rem;
    color: #b4b4b4;
    top: 50%;
    left: 0.3rem;
    -webkit-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0);
}
.search-input label + input {
    padding-left: 1.4rem;
}
.bar .searchbar {
    margin: 0 -0.5rem;
    padding: 0.4rem 0.5rem;
    background: rgba(0, 0, 0, 0.1);
}
.bar .searchbar .search-input input {
    border: 0;
}
.bar .searchbar .searchbar-cancel {
    color: #5f646e;
}

@font-face {
    font-family: "iconfont-sm";
    src: url('http://at.alicdn.com/t/font_1433401008_2229297.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1433401008_2229297.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1433401008_2229297.svg#iconfont') format('svg');

    /* iOS 4.1- */
}
.bar .icon {
    font-family: "iconfont-sm" !important;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.bar .icon-search:before {
    content: "\e61d";
}